blosc2==4.0.0
certifi==2026.1.4
charset-normalizer==3.4.4
contourpy==1.3.2
cycler==0.12.1
Cython==3.2.4
Deprecated==1.3.1
fonttools==4.61.1
geojson==3.2.0
hopcroftkarp==1.2.5
idna==3.11
joblib==1.5.3
kiwisolver==1.4.9
matplotlib==3.10.8
miniball==1.2.0
msgpack==1.1.2
muspan @ https://docs.muspan.co.uk/code/latest.zip
ndindex==1.10.1
networkx==3.4.2
numexpr==2.14.1
numpy==2.2.6
packaging==26.0
pandas==2.3.3
persim==0.3.8
pillow==12.1.0
POT==0.9.6.post1
py-cpuinfo==9.0.0
pyarrow==23.0.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
ripser==0.6.14
rust-geo-python==0.1.6
scikit-learn==1.7.2
scikit-network==0.33.5
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
tables==3.10.1
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wrapt==2.1.1
